*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    cursor: pointer;
}
.panel1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    height: 30px;
    width: 100px;
}
.panel2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    border: 1px solid rgb(216, 213, 213);
    border-radius: 10px;
    width: 300px;
    padding:20px 26px 20px 26px;
    height: 320px;
}
.p1{
    font-size: 1.8rem;
    color: #111111;
    margin: 0 0 10px;
    padding: 0 0 4px;
}
.p2{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0 0 2px 2px;
}
.box input{
    width: 300px;
    height: 29px;
    margin-top: 3px;
    margin-bottom: 15px;
    border: 1px solid rgb(157, 155, 155);
    border-radius: 3px;
}
.box button{
    width: 308px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 213, 0);
    margin-bottom: 18px;
}
.p3{
    font-size: 0.8rem;
    margin-bottom: 20px;
}
.box a{
    text-decoration: none;
    color: #007185;
}
.p4{
    font-size: 0.9rem;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(216, 213, 213);
}
.p5{
    font-size: 0.9rem;
    padding-top: 18px;
    padding-bottom: 8px;
}
.p6{
    font-size: 0.9rem;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg{
    display: block;
}
.reg p{
    color: #767676;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.85rem;
}
.reg button{
    width: 350px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(200, 198, 198);
}
.reg a{
    text-decoration: none;
    color: #0f1111;
}